extends layout

block content
    h1= title
    p Welcome to #{title}

    // register form
    form(method='POST' action='/register')
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
        button.btn.btn-primary(type='submit') Sign up